<ion-header>
  <ion-navbar color="primary">
    <ion-buttons>
      <button ion-button icon-only clear color="light" (click)="goToFeed()"><ion-icon name="home"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <div *ngFor="let category of categories">
      <ion-label>{{category}}</ion-label>
      <ion-item *ngFor="let item of items">
        <ion-label>{{item}}</ion-label>
        <ion-checkbox [(ngModel)]="eggs"></ion-checkbox>
      </ion-item>
    </div>
  </ion-list>
</ion-content>
