page-login {
  ion-content {
      .scroll-content {
        background-color: map-get($colors, primary);
      }
    }

    .item {
      background-color: map-get($colors, primary);
    }

    .logo {
      font-size: 18vh;
      // padding: 0px;
    }

    .rowStyle {
      background-color: white;
      padding-left: 10px;
      border-radius: 30px;
      margin-bottom: 10px;

    ion-icon {
      margin-top: 13px;
      margin-right: 10px;
    }
  }

}
